p {
    font-family:"teletext";
    color:white;
    
  }
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color:black;
  }
  @font-face {
    font-family:teletext;
    src: url('/fonts/Teletext50.otf');
  }
  @font-face {
    font-family: teletext-excond;
    src: url('/fonts/Teletext50-extracondensed.otf');
  }
  @font-face {
    font-family: teletext-cond;
    src: url('/fonts/Teletext50-condensed.otf');
  }
  @font-face {
    font-family: teletext-semicond;
    src: url('/fonts/Teletext50-semicondensed.otf');
  }
  @font-face {
    font-family: teletext-wide;
    src: url('/fonts/Teletext50-extended.otf');
  }
  @font-face {
    font-family:teletext1;
    src: url('/fonts/MODE7GX0.TTF');
  }
  @font-face {
    font-family: teletext2;
    src: url('/fonts/MODE7GX1.TTF');
  }
  @font-face {
    font-family: teletext3;
    src: url('/fonts/MODE7GX2.TTF');
  }
  @font-face {
    font-family: teletext4;
    src: url('/fonts/MODE7GX3.TTF');
  }
  @font-face {
    font-family: teletext5;
    src: url('/fonts/MODE7GX4.TTF');
  }
  .teletext {
    font: "teletext" 9px;
  }
  .teletext-excond {
    font: "teletext-excondense";
  }
  .teletext3 {
    font: "teletext3" 9px;
  }
  .teletext4 {
    font: "teletext4" 9px;
  }
  .teletext5 {
    font: "teletext5" 9px
  }
  
  body {
    width:900px;
    font-family:'teletext';
    position:relative;
    margin-left:auto;
    margin-right:auto;
  
    color:white;
  }
  
  h1 {
    font-family: 'teletext-excond';
    font-size:50px
  }
  h2 {
    font-family: 'teletext-cond';
    font-size: 35px;
  }
  h1, h2, h3, h4, h5, h6 {font-weight: normal;}
  
  main { 
    margin-left:14px;
    margin-right:14px;
  }
  
  .logoimage {
    width:87px;
  }
  
  header {
    background: rgb(0, 48, 78);
  }
  
  a {
    color:lightblue;
  }
  
  a:visited {
    color:lightskyblue;
  }
  
  a:hover {
    color:white;
  }
  
  